@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Basic', sans-serif;
}

button {
  cursor: pointer;
}